<%= title_tag t(".title") %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(<%= t(".blank_to_keep") %>)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(<%= t(".current_password_required") %>)</i><br />
  <%= f.password_field :current_password %></div>

  <div>
    <%= f.submit t(".submit") %>
    <%= t("or") %> <%= link_to t(".cancel"), :back %>
  </div>
<% end %>

<h3><%= t("devise.registrations.destroy.title") %></h3>

<p><%= t("devise.registrations.destroy.text") %> <%= link_to t("devise.registrations.destroy.link"), registration_path(resource_name), :confirm => t("devise.registrations.destroy.confirm"), :method => :delete %>.</p>

